body{
    background: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;
     font-size: 14px;
}

.content{
padding: 1em;
border: 1em ;
width:1em;
margin: 1em ;
}
/* Botones de Incio de Sesión y de registrar*/

.btis{
font-size: 1em;
background-color:#fff;
padding: 1em  ;
border-radius: 10px;
outline: none;
border: none;
}

@media screen and (max-width: 500px){
    
}
