@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.account-content {
    height: 100vh;
    width: inherit;
    background-color: var(--blue);
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "."
    "main-box"
    "main-box";
}

.top-photo {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-10%);
    border: .5em solid var(--green);
    background-color: var(--grey);
    border-radius: 50%;
    height: 12em;
    width: 12em;
}
.main-box {
    background-color: #eee;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    grid-area: main-box;
    display: grid;
    grid-template-rows: 10% 25% 65%;
    grid-template-areas: 
    "top-photo"
    "description-box"
    "recent-box";
}
.description-box {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    padding: .5em 2em;
}
.description-box .name {
    font-weight: bold;
    font-size: 1.5em;
}
.description-box .promo {
    color: var(--grey-text);
}
.description-box .description {
    padding-top: 1em;
}
.recent-box {
    height: 50vh;
    padding-bottom: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 2em;
}

/* 
    SETTING'S BUTTON
*/
.settings-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em 1em 0 0;
    color: #fff;
    font-size: 2.5em;
    cursor: pointer;
}