body{
    background:lawngreen;
     font-size: 16px;
}

.content{
position: absolute;
background: white;
width: 50%;
height: 50%;
top: 20%;
left: 25%;
}

h1{
    text-align: center;
}
/* Botones de Incio de Sesión y de registrar*/
