@media(max-width:480px) {
  /* FONT TYPE */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  /* GENERAL RULES */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
  }

  /* GLOBAL COLORS */
  :root {
    --blue: #0C4A88;
    --grey: #E1E1E1;
    --green: #7BC21D;
  }

  .Home-Inicio{
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
  }

  .Inicio-Home{
    background-color:rgb(19, 19, 126);
    width: 100%;
    height: 10em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover
  }
    

  /* 
  =================
  FOOTER - NAVIGATION
  ================= */
  .footer-container {
    position: absolute;
    bottom: 2em;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey);
    border-radius: 24px;
    padding-left: 1.5em;
    padding-right: 1em;
    font-family: 'Poppins', sans-serif;
  }

  .footer-navigation {
    position: relative;
  }
  .footer-navigation ul {
    display: flex;
    width: 100%;
  }
  .footer-navigation ul li {
    display: flex;
    position: relative;
    list-style: none;
    width: calc(100% / 5);
    height: 6em;
    z-index: 2;
  }
  .footer-navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
  }

  .footer-navigation a .icon {
    position: relative;
    display: block;
    line-height: 6.5rem;
    font-size: 2em;
    transition: 0.5s;
    color: #222327;
  }
  .footer-navigation ul li.active a .icon {
    transform: translateY(-3.2rem);
    color: var(--blue);
  }

  .footer-navigation ul li a .text {
    position: absolute;
    background-color: var(--blue);
    color: #fff;
    padding: 0.2rem 0.7rem;
    border-radius: 1.2rem;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(1.5rem);
  }
  .footer-navigation ul li.active a .text {
    transform: translateY(-0.4rem);
    opacity: 1;
  }
  .indicator {
    position: absolute;
    top: -4rem;
    width: calc(100%/5);
    height: 8em;
    background-color: var(--grey);
    border-radius: 50%;
    z-index: 1;
    transition: .5s;
  }


  .footer-navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc((100%/5) * 0));
  }
  .footer-navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc((100%/5) * 5));
  }
  .footer-navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(-120vw);
  }

  .footer-navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc((100%/5) * 15));
  }
  .footer-navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc((100%/5) * 20));
  }

  /* 
  ---------------
    add-button
  ---------------
  */
  .add-btn {
    transform: translateY(-3rem);
    color: var(--blue);
  }
  .add-btn i {
    font-size: 40px;

  }

  .add-btn::before {
    position: absolute;
    content: "";
    width: 6rem;
    height: 6rem;
    top: -.1rem;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #fff;
  }
}  