
.img1{
    width: 15em;
    height: 10em;
    position: relative;
    left: 2em;
}
.btn{
    margin-top: 2em;
    
    border-radius: 1.2em;
    border-color: rgb(127, 186, 0);
    border: 0.1em  solid;
    width: 18em;
    height: 3em;
    background-color: white;
    color: rgb(127, 186, 0);
  }
  .btn2 {
    margin-top: 2em;
  
    border-radius: 1.2em;
    border-color: rgb(0, 164, 239);
    border: 0.1em  solid;
    width: 18em;
    height: 3em;
    background-color: white;
    color: rgb(35, 88, 165);
  }
  
