/*Main css del Home*/

@media(min-width:481px){
     body{
          height: 100%;
          width: 100%;
          background-color: black;
          color: white;
          font-family: 'Courier New', Courier, monospace, sans-serif;
          font-size: 35px;
     }
     .message{
          position: absolute;
          top: 8.5em;
          left: 9em;
          text-align:justify;
          font-weight: bold;

     }

     div{
          display: none;
     }

}
/*Celulares*/
@media(max-width:480px) {
     body{
          background-color: white;
     }
     .hidden{
          display: none;
     }
}