/*Main css de la parte de Inicio y registro*/

/*Celulares*/
@media(max-width:480px) {
     * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
     }
     
    body {
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         display: flex;
         justify-content: center;
         align-items: center;
         background-image: url("../img/fondodepantalla.png");
         background-repeat: no-repeat; /*Para que no se repita el fondo*/
    }

    /*Class para el texto centrado*/
    .center {
         text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 1.5em;
          padding-top: 1.5em;
    }

    /*Class para el titulo*/
    .title {
         margin-top: 3em;
         margin-bottom: 1em;
         text-align: center;
    }
    /*Class para el rectangulo con el contenido de las 5 páginas de Registro e Inicio de sesión*/
    .content{
         display: block;
         margin:60em 10em 10em 10em;
         position: absolute;
         background-color: white;
         width: 19em;
         height: 36em;
         border-radius: 6px;
         box-shadow:  2px 2px 0 rgb(177, 176, 176);
    }
     /*Codigo para colocar el elemento tipo bloque o en linea*/
    .block{
         display: block;
    }
    .inline{
        display: inline;
    }
    .border{
         border-width: 0.05cm;
         border-color: skyblue;
         border-radius: 5px;
         width: 200px;
         height: 40px;
    }

    /*Color de los enlaces*/
    a{
         color: #c874f0;
    }

    /*Clase para el contendor de formularios*/
    .formb{
         margin-top: 2.2em;
         margin-left: 1.6em;
    }
    .formb div p{
         margin-left: 0.2em;
         font-size: 17px;
    }

   /*Class para los labels*/
    .label{
          margin: 1.5em 1em 1.5em 0.2em;
          position: relative;
          width: 250px;
          font-size: 18px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /*Class para los input de la parte de form*/
    .input{
         background: none;
         font-size: 15.5px;
         padding: 9px 0.2px 9px 1px;
         display: block;
         width: 100%;
         border-radius: 5px;
         border-color: rgba(245, 245, 245);
         border-top: rgb(245, 245, 245) solid;
         border-left: rgb(245, 245, 245) solid;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .input:focus{
     outline: none;
     color: rgb(3, 3, 3); }

     .showp{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: small;
          color: rgba(16, 16, 85, 0.671);
          font-weight: bold;
          font-style: oblique;
     }


    /*Boton verde para avanzar*/
    .button {
         position: absolute;
         top: 26em;
         left: 3.5em;
         background: rgb(62, 212, 87);
         height: 50px;
         width: 60%;
         border: none;
         border-radius: 9px;
         font-size: 17px;
    }
     /*Button de submit, pagina de Inicio de sesion y ultima pag de Registro*/

    .button2{
          position: absolute;
          top: 26em;
          left: 3.5em;
          background: rgb(62, 212, 87);
          height: 50px;
          width: 60%;
          border: none;
          border-radius: 9px;
          font-size: 17px;
    }  
     /*Class para el texto de los buttons*/   
    .textcenter {
          text-decoration: none;
          color: white;
          text-align: center;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-weight: 900;
    }
    .input1{
          background: none;
          font-size: 16px;
          padding: 9px 0.2px 9px 1px;
          display: block;
          width: 100%;
          border-radius: 5px;
          border-color: rgba(245, 245, 245);
          border-top: rgb(245, 245, 245) solid;
          border-left: rgb(245, 245, 245) solid;
    }
    /*Input prueba*/
    .noborder1{
     border: none;
     }
     /*Id para la password*/
    .togglePassword1{
          cursor: pointer;
          position: absolute;
          top: 1.8em;
          left: 12em;
    }
     #editcon{
          color:rgba(114, 109, 109, 0.589);
          font-size: 2em;
          float: right;
     }
     #Editphoto{
          background-image: url(../img/Profile.png);
          background-repeat: no-repeat;
          background-size: 11em;
          margin-bottom: 3em;
          width: 11em;
          height: 11em;
          position: relative;
          top: 0.9em;
          left: 4em;
          border: solid  rgba(0, 0, 0, 0.568) 0.3px;
     }
     .img1{
          width: 15em;
          height: 10em;
          position: relative;
          left: 2em;
     }
     
     /*Estilo para los botones del Welcome html*/

     .btn{
          border-radius: 1.2em;
          border-color: rgb(127, 186, 0);
          border: 0.1em  solid;
          width: 18em;
          height: 3em;
          background-color: white;
          color: rgb(127, 186, 0);
     }

     .btn2 {
          border-radius: 1.2em;
          border-color: rgb(0, 164, 239);
          border: 0.1em  solid;
          width: 18em;
          height: 3em;
          background-color: white;
          color: rgb(35, 88, 165);
     }

     .orange {
          border-color: #FFA384;
          color: #FFA384;
     }

}  

