/*CSS del registro 2*/ 
/*body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     height: 750px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 */
/* h1{
     text-align: center;
     font-weight: 700;
 }*/
 /*
 form {
     background: #ffff;
     padding: 40px 0;
     box-shadow:  2px 2px 0 rgb(177, 176, 176);
     border-radius: 9px;
 }
 */
 /*
 .form{
     width: 100%;
     margin: auto;
 }*/
 
 /*form .grupo{
     position: relative;
     width: 250px;
     margin: 45px ;
 }*/
 /*
 input {
     background: none;
     font-size: 19px;
     padding: 10px 10px 10px 5px;
     display: block;
     width: 100%;
     border-radius: 5px;
     border-color: rgba(245, 245, 245);
     border-top: rgb(245, 245, 245) solid;
     border-left: rgb(245, 245, 245) solid;
 }*/
 
 /*input:focus{
     outline: none;
     color: rgb(3, 3, 3);
 }*/
 
/* label{
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }*/
 
 button{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background: rgb(62, 212, 87);
     border: none;
     border-radius: 9px;
     display: block;
     width: 60%;
     margin: 7em 4.5em 2em auto;
     color: #ffff;
     height: 50px;
     font-size: 16px;
     cursor: pointer;
 }
