.fondo{
    background-color: darkblue;
    width: 100%;
    height: 8em;
}

.search{
  position: relative;
  padding: 0.1em;
}

.search input{
  width: 15em;
  height: 1.7em;
  padding: 0 1.2em;
  font-size: 1.4em;
  color:#000 ;
  outline: none;
  border:1px solid silver;
  border-radius:2em ;
}

.data {
  background-color: grey;
  border-radius: 1em
}

.data-img {
  width: 1em;
  height: 1em;
  position: relative;
  margin-top: 0.1em;
  display: inline-block;
  margin-left: 1em;
  border-radius: 2em;
  border: 1em solid black
}

.data-name {
  text-align: left;
  padding-left: 6em;
  margin-top: -4em;
  padding-bottom: 0.1em;
}