@media(max-width:480px){
 *,
 *::before
 *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .blueblock{
   margin-bottom: 2em;
   background-color: #0C4781;
   height: 6.8em;
   color: white;
   text-align: center;
   align-items: center;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
}
.title1{
   margin-top: -20px;
    
 }

 .nav-main a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    display: block;
    padding: 15px 10px 15px 15px;
    font-size: 25px;
 }

 .back{
    position: relative;
    text-decoration: none;
    color: white;  
    top: 0.6em;
    left: -2.7em;  
    font-size: 50px;
 }

}